<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/mission.ejs') %>
    <%- include('./partials/projects.ejs') %>
    <%- include('./partials/whydonate.ejs') %>
    <%- include('./partials/donations.ejs') %>
    <%- include('./partials/events.ejs') %>
    <%- include('./partials/staff.ejs') %>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
