<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs")  %>

<body>
    <%- include('../partials/nav.ejs') %>
    <div class="profile__container container">
        <div class="profile">
            <div class="profile__left">
                <img src="/<%= user.profilePicture %>" alt="Profile Picture">
            </div>
        <div class="profile__right">
            <h3>Welcome, <%= user.username %>!</h3>
        <p>Name: <%= user.name %>
        </p>
        <p>Username: <%= user.username %>
        </p>
        <p>Phone Number: <%= user.phoneNumber %>
        </p>
        <p>Email: <%= user.email %>
        </p>
        <p>Is Alumni: <%= user.isAlumni %>
        </p>
        <p>Is Admin: <%= user.isAdmin %>
        </p>
        <% if (user.isAlumni) { %>
            <div class="alumni__details">
                <h2>Alumni Details</h2>
                <!-- Display specific alumni details here -->
                <p>Graduation Year: <%= user.alumniDetails.yearOfGraduation %>
                </p>
                <p>Degree: <%= user.alumniDetails.academicDegree %>
                </p>
                <p>Faculty: <%= user.alumniDetails.faculty %>
                </p>
                <p>Department: <%= user.alumniDetails.department %>
                </p>
            </div>
            <% } %>
        </div>




    </div>

</body>
</html>
