<%- include('../partials/head.ejs') %>

<html>


  <body>
    <%- include('../partials/nav.ejs') %>
    <section class="project-details">
      <% if (project) { %>
      <div class="project__details">
        <% if (project.images && project.images.length> 0) { %>
        <div class="project__details-top">
          <div class="project__details-top-left">
            <img
              src="<%= project.images[0] %>"
              alt=""
              class="img-fluid mb-3 main-project-image w-100"
              id="mainProjectImage"
            />
          </div>
          <% } %>

          <div class="project__details-top-right">
            <h1><%= project.title %></h1>
            <p>
              <span>Budget:</span>
               GHS <%= project.budget %>
            </p>
            <p>
              GHS <%= project.amountContributed / 100 %>
              <span>Raised </span>
            </p>

            <div class="buttons">
              <!-- Donate Button -->
              <button
                id="donateButton"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#donateModal"
              >
                Donate
              </button>

              <!-- Verify Button -->
              <button
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#verifyModal"
              >
                Verify Donation
              </button>
            </div>
          </div>
        </div>

        <div class="project__details-middle">
          <div class="project__details-middle-left">
            <p>
            <span>Faculty: </span>
            <%= project.faculty %>
          </p>
          <p>
            <span>Department: </span>
            <%= project.department %>
          </p>

          <p>
            <span>Description: </span>
            <%= project.description %>
          </p>
          <p>
            <span>Purpose: </span>
            <%= project.purpose %>
          </p>
         <p>
            <span>Goals:</span>
            <ul>
                <% project.goals.forEach(function(goal) { %>
                <li><%= goal %></li>
                <% }) %>
            </ul>
        </p>
          </div>
          <div class="project__details-middle-right">
            <img
              src="<%= project.images[1] %>"
              alt=""
              class="img-fluid mb-3 main-project-image w-100"
              id="mainProjectImage"
            />
          </div>

        </div>

        <div class="project__details-down">
          <% if (project.images && project.images.length > 0) { %> <%
          project.images.forEach(function(image) { %>
          <div>
            <img
            src="<%= image %>"
            alt="Project Image"
            class=""
          />
          </div>
          <% }); %> <% } %>
        </div>
      </div>

      <% } else { %>
      <p>No project details found.</p>
      <% } %>
    </section>

    <%- include('../partials/footer.ejs') %>

    <!-- Donate Modal -->
    <div
      class="modal fade"
      id="donateModal"
      tabindex="-1"
      aria-labelledby="donateModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="donateModalLabel">
              Donate to <%= project.title %>
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form id="donationForm">
              <div class="form-group">
                <label for="amount">Amount (GHS)</label>
                <input
                  type="number"
                  class="form-control"
                  id="amount"
                  name="amount"
                  required
                />
              </div>
              <input
                type="hidden"
                id="projectId"
                name="projectId"
                value="<%= project._id %>"
              />
              <button type="submit" class="btn btn-primary mt-3">
                Submit Donation
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Verify Modal -->
    <div
      class="modal fade"
      id="verifyModal"
      tabindex="-1"
      aria-labelledby="verifyModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="verifyModalLabel">
              Verify Donation for <%= project.title %>
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              id="verifyForm"
              action="/donations/donate/verify"
              method="POST"
            >
              <div class="form-group">
                <label for="reference">Payment Reference</label>
                <input
                  type="text"
                  class="form-control"
                  id="reference"
                  name="reference"
                  required
                />
                <input type="hidden" id="paymentAmount" name="amount" />
                <input type="hidden" id="paymentProjectId" name="projectId" />
              </div>
              <button type="submit" class="btn btn-secondary mt-3">
                Verify Donation
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Loader -->
    <div id="loader" class="loader">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <style>
      .project-images img {
        max-width: 100px;
        height: auto;
        margin-right: 5px;
        margin-bottom: 5px;
        cursor: pointer;
      }

      .loader {
        position: fixed;
        z-index: 9999;
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
        height: 100%;
        display: none;
        justify-content: center;
        align-items: center;
      }
    </style>

  </body>
</html>
