<!DOCTYPE html>
<html lang="en">
    <% console.log(donations); %>
    <%- include('../../partials/head.ejs') %>
    <body>
        <%- include('../../partials/nav.ejs') %>
        <h1>Admin</h1>
        <%- include('../../partials/Admin/createproject.ejs') %>
        <%- include('../../partials/Admin/createevents.ejs') %>
        <%- include('../../partials/Admin/alldonations.ejs', {donations}) %>
    </body>
</html>