<% function formatTime(time) {
  const [hour, minute] = time.split(':');
  let hourInt = parseInt(hour, 10);
  const ampm = hourInt >= 12 ? 'PM' : 'AM';
  hourInt = hourInt % 12 || 12;
  return `${hourInt}:${minute} ${ampm}`;
} %>

<% function formatDate(date) {
  const d = new Date(date);
  const day = d.getDate();

  const daySuffix = (day) => {
    if (day > 3 && day < 21) return 'th';
    switch (day % 10) {
      case 1: return 'st';
      case 2: return 'nd';
      case 3: return 'rd';
      default: return 'th';
    }
  };

  const options = { month: 'short', year: 'numeric' };
  return `${day}${daySuffix(day)} ${d.toLocaleDateString('en-US', options)}`;
} %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      tr {
        cursor: pointer;
        background-color: gray;
      }

      .button {
        display: flex;
        justify-content: end;
      }

      .add {
        padding: 8px 12px;
        background-color: rgb(28, 74, 126);
        color: white;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
      }

      #create-event-section {
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container pt-3">

      <h2>Event List</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Time</th>
            <th>Type</th>
            <th>Venue</th>
          </tr>
        </thead>
        <tbody>
          <% events.forEach(event => { %>
          <tr onclick="window.location.href='/events/<%= event._id %>'">
            <td><%= event.title %></td>
            <td><%= event.date.toDateString() %></td>
            <td><%= formatTime(event.time) %></td>
            <td><%= event.type %></td>
            <td><%= event.venue %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>

      <!-- Section where the form will be loaded -->
      <div id="create-event-section"></div>


    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const addEventLink = document.querySelector('.add');
        const createEventSection = document.getElementById('create-event-section');

        addEventLink.addEventListener('click', function (event) {
          event.preventDefault();
          const url = this.getAttribute('data-url');
          if (url) {
            // Use AJAX to load the form content
            fetch(url)
              .then(response => response.text())
              .then(html => {
                createEventSection.innerHTML = html;
              })
              .catch(error => console.error('Error loading form:', error));
          }
        });
      });
    </script>
  </body>
</html>
