<!DOCTYPE html>
<html lang="en">
  <%- include('../head.ejs') %>

  <style>
    .container {
        width: 80%;
        max-width: 800px;
        margin: 0 auto;
        padding-top: 20px;
      }
    .button {
      display: flex;
      justify-content: flex-end;

      .add {
        background-color: rgb(28, 74, 126);
        padding: 8px 12px;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
      }

      tr {
        transition: all 0.25s all;
      }

      tr:hover {
        background-color: gray !important;
      }
    }
  </style>
  <body>
    <div class="container py-4">

      <h3>Projects</h3>
      <!-- Projects Table -->
      <table class="table mt-4">
        <thead>
          <tr>
            <th>Title</th>
            <th>Timeline</th>
            <th>Budget</th>
            <th>Faculty</th>
            <th>Department</th>
          </tr>
        </thead>
        <tbody>
          <% projects.forEach(project => { %>
          <tr
            onclick="window.location.href='/projects/<%= project._id %>';"
            style="cursor: pointer"
          >
            <td><%= project.title %></td>
            <td><%= project.timeline %></td>
            <td>GHS <%= project.budget %></td>
            <td><%= project.faculty %></td>
            <td><%= project.department %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

  </body>
</html>
