<!DOCTYPE html>
<html lang="en">
  <%- include('../head.ejs') %>

  <style>

    tr {
      transition: all 0.25s all;
    }

    tr:hover {
      background-color: gray !important;
    }

    .delete-project {
      padding: 4px 8px;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
      margin: 0 4px;
      background-color: rgb(255, 99, 132);
    }
  </style>
  <body>
    <div class="container py-4">
      <h3>Projects</h3>
      <!-- Projects Table -->
      <table class="table mt-4">
        <thead>
          <tr>
            <th>Title</th>
            <th>Timeline</th>
            <th>Budget</th>
            <th>Faculty</th>
            <th>Department</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% projects.forEach(project => { %>
          <tr>
            <td
              onclick="window.location.href='/projects/<%= project._id %>';"
              style="cursor: pointer"
            >
              <%= project.title %>
            </td>
            <td><%= project.timeline %></td>
            <td>GHS <%= project.budget %></td>
            <td><%= project.faculty %></td>
            <td><%= project.department %></td>
            <td>
              <a href="#" class="delete-project" data-id="<%= project._id %>"
                >Delete</a
              >
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
